<!-- <router-outlet></router-outlet> -->
<h1 style="background-color: black;">
    <span style="color: red;">IL MEG</span><span style="color: white;">LIO DI </span><span  style="color: green;">CROZZA</span>
    <mat-toolbar>
        <a class="toolbar-link" *ngFor="let group of playItems" href="#{{group.groupTitle}}">{{group.groupTitle}}</a>
    </mat-toolbar>
</h1>
<br/>
<div *ngFor="let group of playItems">
    <h1 class="group-title" id="{{group.groupTitle}}">{{group.groupTitle}}</h1>
    <div *ngFor="let item of group.sounds">
        <xyz-button text="{{item.title}}" src="{{baseHref + item.src}}"></xyz-button>
    </div>
</div>

<mat-toolbar>
    <h6>Created by Teo</h6>
</mat-toolbar>